body{
  background-color: #F2FEFD;
  font-family: monospace;
  font-size: 20px;
}
header {
    font-size: 69px;
    font-family: impact;
    margin-left: 32%;
  }
ul {
      background-color: #63585E;
      list-style-type: none;
      font-size: 24px;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }
h1{
    font-size: 35px;
  }
li {
      float: left;
  }

li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

li a:hover {
      background-color: #111;
  }

nav{
    top: 0px;
    position: sticky;
  }
section{
  margin-top: 10px;
  background-color: #F2FEFD;
  margin-right: 150px;
}
